.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    height: 60px;
}

.title {
    font-size: 25px;
    font-weight: 800;
}

.button {
    background-color: #3B82F6;
    height: 40px;
}

.card {
    box-shadow: none;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card .p-card-body{
    padding: 0px;
}

.filter {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.input-row{
    display: flex;
    gap: 7px;
    width: 100%;
}

.button-row {
    display: flex;
    gap: 7px;
    align-items: center;
}

.button-filter{
    width: 42px;
    height: 35px;
}
.name-column{
    cursor: pointer;
    text-decoration: underline;
    color: #0763E7;
    font-weight: bold;
}


.table tbody > tr > td {
    padding: 0rem 1rem;
}

.table thead > th {
    padding: 0.8rem 1rem;
}

